.resource-card {
  background: #003B6D;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  min-width: 15%;
  max-width: 20%;
  height: 20%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.resource-card img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 12px;
}

.resource-card h4 {
  margin-bottom: 10px;
  font-size: 1.6em;
  color: #ffffff;
}

.resource-card a {
  background-color: #6699CC;
  color: white;
  padding: 8px 14px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9em;
}

.resource-card a:hover {
  background-color: #bdbdbd;
}
